/*
  	Override the default style of bootstrap
*/


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000000 !important;
    background: #fff !important;
	font-weight: bold;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #D3D3D3 !important; ;
}
#user-tab , #admin-tab:hover{
	cursor: pointer;
}
.caret{
	margin :10px !important
}
.truncate {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}
.card-body , .card-img-top{
	cursor: pointer;
}

.card-img-top{
	height: 200px;
	object-fit: cover;
}
.card-pop {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card-pop:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-body:hover,
.card-img-top:hover {
    transition: background-color 0.3s ease;
}
.cursor-pointer{
	cursor: pointer;
}
.rounded-control {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.rounded-control .carousel-control-prev-icon,
.rounded-control .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    background-size: 100%;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}
